{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<title> Index.Html</title>
</head>
<body>
	<tr>
		<th> Home </th>
		
	</tr>
	<tr>
		<td> 
			<img src="{%  static 'images/King kohli.jpg' %}" alt="" srcset="">
		</td>
		<td>
			<img src="{%  static 'images/Virat kohli.jpg' %}" alt="" srcset="">
		</td>
		<td>
			<img src="{%  static 'images/Virat-kohli.jpg' %}" alt="" srcset="">
		</td>
	</tr>

	<h1 align="centre"> 
		Home 
	</h1>
	<p> Security breaches occur when individuals or applications are trying to gain unauthorized access to data, 
		applications, services, or devices. During these breaches, the attackers, whether they are insiders or not, 
		attempt to obtain information that they could use for financial gains or other advantages. In this lab, you will 
		explore a few security breaches to determine what was taken, what exploits were used, and what you can do 
		to protect yourself.
	</p>
	<img src="{%  static 'images/King kohli.jpg' %}" alt="" srcset="">
	
	<img src="{%  static 'images/King kohli.jpg' %}" alt="" srcset="">

	<p>Security breaches occur when individuals or applications are trying to gain unauthorized access to data, 
		applications, services, or devices. During these breaches, the attackers, whether they are insiders or not, 
		attempt to obtain information that they could use for financial gains or other advantages. In this lab, you will 
		explore a few security breaches to determine what was taken, what exploits were used, and what you can do 
		to protect yourself.
	</p>
	<tr>
		<p>
			Security breaches occur when individuals or applications are trying to gain unauthorized access to data, 
			applications, services, or devices. During these breaches, the attackers, whether they are insiders or not, 
			attempt to obtain information that they could use for financial gains or other advantages. In this lab, you will 
			explore a few security breaches to determine what was taken, what exploits were used, and what you can do 
			to protect yourself
		</p>
	</tr>
</body>
</html>

