<!DOCTYPE html>
<html>
<head>
	
	<title> Web</title>
</head>
<body>
	<hr>
		<p> web technology </p>
	</hr>
	<hr>
		<b> web technology </b>
	</hr>
	<hr>
		<strong>web technology</strong>
	</hr>
	<hr>
		<u>web technology</u>
	</hr>
	<hr>
		<ins>web technology</ins>
	</hr>
	<hr>
		<s>web technology</s>
	</hr>
	<hr>
		<strike>web technology</strike>
	</hr>
	<hr>
		<del>web technology</del>
	</hr>
	<hr>
		<mark>web technology</mark>
	</hr>
	<hr>
		<address>web technology</address>
	</hr>
	<hr>
		<code>web technology</code>
	</hr>
	<hr>
		<sub>web technology</sub>
	</hr>
	<hr>
		<sup>web technology</sup>
	</hr>
	<hr>
		<span>web technology</span>
	</hr>
	<hr>
		<i>web technology</i>
	</hr>
	<hr>
		<em>web technology</em>
	</hr>
	<hr>
		<code>web technology</code>
	</hr>

</body>
</html>